# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#    .gitignore                                         :+:      :+:    :+:    #
#                                                     +:+ +:+         +:+      #
#    By:jsouza-c <jsouza-c@student.42sp.org.br      +#+  +:+       +#+         #
#                                                 +#+#+#+#+#+   +#+            #
#    Created: 2022/02/07 06:46:26 by jsouza-c          #+#    #+#              #
#    Updated: 2022/02/07 06:46:35 by jsouza-c         ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

.vimspector.json
test
text.txt
Test
leacks.vim
get_next_line_utils.c
